html,body {
    @include font-feature-settings("kern", "liga", "pnum");
    -webkit-font-smoothing: antialiased;
    color: black;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    margin: 0;
    letter-spacing: 0.05em;

    @include media("<=small"){
        font-size: $mobile-font-size;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    // font-size: $base-font-size;
    line-height: $heading-line-height;
    margin: 0 0 $small-spacing;
    text-transform: uppercase;
    // font-weight: $font-weight-bold;
}

p {
    margin: 0 0 $small-spacing;
}

input, label, select {
  display: block;
  font-family: $base-font-family;
  font-size: $base-font-size;
}